<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    html, body {
      background-color: #262626;
      color: #F5F9FC;
      padding: 20px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      background-color: #0F1726;
      border-radius: 16px;
      padding: 20px;
      box-shadow: 0px 16px 32px rgba(2, 2, 3, 0.48);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #F5F9FC;
      font-family: 'ADLaM Display', cursive;
    }

    .file-field .btn {
      background-color: #262626;
      color: #F5F9FC;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-family: 'ADLaM Display', cursive;
    }

    .file-field .btn:hover {
      background-color: #0F1726;
      font-family: 'ADLaM Display', cursive;
    }

    .file-path-wrapper {
      margin-bottom: 0;
    }

    .materialboxed {
      border-radius: 5px;
      box-shadow: 0px 16px 32px rgba(2, 2, 3, 0.48);
    }

    a {
      color: #F5F9FC;
      text-decoration: none;
    }

    a:hover {
      color: #ccc;
    }

    .upload-button {
      margin-top: 20px;
      text-align: center;
      font-family: 'ADLaM Display', cursive;
    }

    .upload-button button {
      background-color: #262626;
      color: #F5F9FC;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-family: 'ADLaM Display', cursive;
    }

    .upload-button button:hover {
      background-color: #0F1726;
    }

    /* Menambahkan gaya untuk teks "rendang:v" */
    .donation-text {
      font-family: 'Cascadia Code', sans-serif;
      font-size: 16px;
      text-align: center;
    }

    /* Menambahkan gaya untuk tautan "rendang:v" */
    .donation-link {
      color: #0077FF;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="container">
    <a href="/" style="color: black;">
      <h1>File Upload</h1>
    </a>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <!-- Tambahkan teks "Please Donate to keep our server online:(" dengan font monospace -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>Choose File</span>
          <input type="file" name="p">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="upload-button">
        <button class="btn" type="submit">Upload</button>
      </div>
    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" alt="" class="materialboxed" width="650">
    <!-- Tambahkan copyright dengan font monospace -->
    <p class="donation-text">
      buy me <a href="https://saweria.co/dnnm" target="_blank" class="donation-link">rendang:v</a> | &copy; 2023
    </p>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    // Menggunakan jQuery untuk menangani klik kanan pada seluruh halaman
    $(document).on("contextmenu", function (event) {
      // Mencegah tindakan default dari event klik kanan
      event.preventDefault();
    });
  </script>
</body>
</html>
